body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    max-width:100%;
    width: 80rem;
    margin: auto;
}
a{
    text-decoration: none;
}
.nav-container{
    background-image: url(https://www.blockchain.com/static/img/home/home-hero-gradient.svg);
    color: white !important;
    background-repeat: no-repeat;
}
.topmost{
    background: rgb(0,41,91);
background: radial-gradient(circle, rgba(0,41,91,1) 0%, rgba(20,70,153,1) 55%);
height: 1.5rem;
padding: 10px 0;
position: -webkit-sticky; /* Safari */
position: sticky;
z-index: 6;
top: 0;
}
.topmost p{
    width: 50rem;
    margin: auto;
    color: white;
    text-align: center;
   
}
::-webkit-scrollbar{
    height:0px;
    width:0px;
  }
/* navbar */
.navbar{
    display: flex;
    height: 4.75rem;
   margin: 0 auto;
   padding: 0 1rem;
   max-width: 78rem;
   width: 100%;
   box-sizing: content-box;
   text-align: center;
}
.logo img{
    width: 10%;
    height: 70%;
}
.logo a{
    display: block;
    padding-left: 5px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}
.logo{
    display: flex;
    margin: 9px 0px;
    padding: 10px;
}
.navopt{
    margin: 15px 0;
    padding: 10px ;
}
.navopt a{
    padding: 0 25px;
    color: white;
    font-weight: bold;
}
.logsign{
    margin: 5px 0 5px 150px;
   
}
.logsign button
{
    padding: 15px;
    margin: 0 10px;
    border-radius: 16%;
}
.logsign img{
    position: relative;
    top: 12px;
    padding: 8px;
    border-radius: 50%;
    background-color: gray;
}
.log{
    background-color: #121D33;
    color: white;
    border: 1px solid white;
}
.horizontal{
    
    border-top: .7px solid rgb(171, 169, 169);
}
.upper{
    max-width: 70rem;
    margin: auto;
    font-size: 2;
    overflow-x: hidden;
}
.upper-intro h1{
    font-size: 3.2rem;
}
.upper-intro h3{
    font-size: 1.7rem;
    font-weight: lighter;
}
.upper-intro{
    max-width: 740px;
    margin: 10rem 0 0 5rem;
    padding-bottom: 10rem;
}
.upper-intro button{
    padding: 18px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.getstarted{
    background-color: #0C6CF2;
    margin-right: 10px;
    color: white;
    border-color: #0C6CF2;
}
/* currencies */
.curr{
    max-width: 210px;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: 100;
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.curr-up{
    display: flex;
    padding-bottom: 10px;
}
.curr-but{
    position: relative;
    left: 60px;
    padding: 5px;
}
.buy{
    background-color: #DED8FD;
    border: none;
    border-radius: 10%;
    padding: 7px;
}
.trade{
    background-color: #D1F0DB;
    border: none;
    border-radius: 10%;
    padding: 7px;
}
.percentage{
    line-height: 2;
    margin-left: 5px;
    color: red;
}
.currencies{
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5rem;
    position: relative;
    bottom:3rem;
}

/* utilities */
.container{
    margin: 20px 50px 80px 50px ;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.details{
    border:1px solid;
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
    margin-top: 15px;
}
.btn{
    padding: 22px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
   width: 100px;
   position: relative;
   top: 40px;
}
/* box2 */
.container2{
    background-color: #F7F5FE;
    color: #7349F2;   
}
.symbol img{
   width: 25%;
   height: 25px;
   margin-right: 5px;
    position: relative;
   top: 15px;
}
.symbol{
    display: flex;
    width: 70px;
    border-radius: 20%;
}
.wallet img{
    background-color: #C1AFF6;
}
.wallet{
    padding: 5px 30px 5px 20px;
    background-color: #EFECFE;
}
.box2-grid1{
    margin: 70px 0 70px 140px;
    position: relative;
    left: 30px;
}
.box2-grid2 img{
    width: 60%;
    margin: 120px 0 120px 150px;
}

.d2{
    border-color: #7349F2;
}
.bold{
    font-weight: 550;
}
.h1-heads{
    font-size: 40px;
}
.box2-grid2{
    background-image: url(https://www.blockchain.com/static/img/home/home-wallet-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 160px;
    background-size: 100% 75%;
}
.btn-w{
    background-color: #7349F2;
}
/* box3 */
.container3{
    background-color: #F5FAFE;
    color: #0C6CF2;
    padding: 50px 0;
}
.box3-grid1 img{
    width: 65%;
  margin: 50px 0 0 120px;
}
.box3-grid1{
    background-image: url(https://www.blockchain.com/static/img/home/home-exchange-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position-y: 100px;
    background-position-x: -10px;
}
.box3-grid2{
    max-width: 500px;
}
.ex img{
    background-color: #4299F7;
    width: 30%;
}
.ex{
    background-color: #ECF5FE;
    padding: 5px 50px 5px 10px;
}
.btn-e{
    background-color: #0C6CF2;
    
}
/* box4 */
.container4{
    background-color: #F0F2F7;
    color: #121D33;
    background-image: url(https://www.blockchain.com/static/img/home/home-institutional-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-size: 55% 80%;
    background-position-x: right;
    background-position-y: 100px;
    padding-bottom: 80px;
    
}
.box4-grid1{
   
    margin: auto;
    padding: 100px 0 100px 110px;
    line-height: 1.4;
}
.ins{
    background-color: #DFE3EB;
    padding: 5px 75px 5px 20px;
}

.btn-i{
    background-color: #677185;
}
/* box5 */
.container5{
    color: #F28B24;
    background-color: #FFF8F2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box5-grid2 img{
    width: 60%;
    margin: 120px 0 120px 150px;
}
.box5-grid2{
    background-image: url(https://www.blockchain.com/static/img/home/home-explorer-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position-y: 100px;
}
.box5-grid1{
    margin: 50px 20px 70px 140px;
}
.explore{
    background-color: #FFF2E5;
    padding: 5px 35px 5px 20px;
}
.btn-ex{
    background-color: #F28B24;
}
.d5{
    background-color: #FFF8F2;
}
/* box6 */
.lower{
    height: 12rem;
    background-image: url(https://www.blockchain.com/static/img/banner/banner-bg.svg);
    background-repeat: no-repeat;
   background-size: cover;
    background-color: #121D33;
    color: white;
}

.lower-flex{
    display: flex;
    max-width: 50rem;
    margin: auto;
    align-items: center;
}
.lower-flex h1{
    margin-top: 80px;
}
.btn-low{
    background-color: white;
    color: #0C6CF2;
    margin: 0 0 20px 20px;
     padding: 10px 15px;
}
/* footer */
.footer{
    max-width: 75rem;
    margin: auto;
    margin: 7rem auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 20px 0;
    line-height: 2.3;
}
.footer-top li{
    list-style: none;
    text-align: left;
    color: #656b79;
}
.social img{
    width: 30px;
    padding-right: 20px;
    position: relative;
    top: 10px;
}
.footer-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}
.fb-left img{
    height: 30px;
    margin-top: 10px;
    padding-right: 20px;
}
.fbl-opt{
    display: flex;
}
.footer-top ul{
    position: relative;
    right: 2.2rem;
}
.fb-right{
    display: flex;
}
.fb-right img{
    width: 30%;
    height: 30%;
   position: relative;;
   top:6rem;
   left: 15rem;
}
.bloo{
    color: #0C6CF2;
}
button{
    border-style: none;
}
.social a{
    color: #656b79;
}
/* hover */
.navopt a:hover{
    background-color: #778196;
}
.btn-w:hover{
    background-color: #5322E5;
}
.btn-e:hover{
    background-color: #144699;
}
.btn-i:hover{
    background-color: #50596B;
}
.btn-ex:hover{
    background-color: #D96716;
}
.btn-low:hover{
    background-color: #DFE3EB;
}
.no li:hover{
    color: #144699;
}
.social a:hover{
    color: #144699;
}
/* responsive */
@media screen and (max-width: 800px) {
    body{
        max-width: 700px;
        margin: auto;
    }
   .navbar{
    display: flex;
    flex-direction: column;
   }
   .navopt a{
    padding-top: 20px;
   }
   .nav-container{
    background-image: none;
    background-color: rgb(0,41,91);
    height: 60rem;

    font-size: medium;
   }
   .logsign,.no ul{
    display: none;
   }
   .currencies{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .container{
    display: grid;
    grid-template-columns: 1fr;
    background-image: none;
    max-width: 680px;
    margin:40px auto;
   }
   .container img{
    display: none;
   }
   .grid-res{
    padding: 20px;
    margin: 40px auto;
   }
   .lower-flex{
    align-items: center;
   }
   .footer-top{
    display: grid;
    grid-template-columns: 1fr;
   }
   .fb-right{
    display: none;
   }
  }
