body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.nav-container{
    background-image: url(https://www.blockchain.com/static/img/home/home-hero-gradient.svg);
    color: white !important;
    background-repeat: no-repeat;
}
/* navbar */
.navbar{
    display: flex;
    height: 4.75rem;
   margin: 0 auto;
   padding: 0 1rem;
   max-width: 78rem;
   width: 100%;
   box-sizing: content-box;
   text-align: center;
}
.logo img{
    width: 10%;
    height: 70%;
}
.logo a{
    display: block;
    padding-left: 5px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}
.logo{
    display: flex;
    margin: 9px 0px;
    padding: 10px;
}
.navopt{
    margin: 15px 0;
    padding: 10px ;
}
.navopt a{
    padding: 0 25px;
    color: white;
    font-weight: bold;
}
.logsign{
    margin: 5px 0;
    position: relative;
    left: 180px;
}
.logsign button
{
    padding: 15px;
    margin: 0 10px;
    border-radius: 16%;
}
.logsign img{
    position: relative;
    top: 12px;
    padding: 8px;
    border-radius: 50%;
    background-color: gray;
}
.log{
    background-color: #121D33;
    color: white;
    border-color: white;
}
.horizontal{
    
    border-top: .7px solid rgb(171, 169, 169);
}
.upper{
    max-width: 70rem;
    margin: auto;
    font-size: 2;
}
.upper-intro h1{
    font-size: 3.2rem;
}
.upper-intro h3{
    font-size: 1.7rem;
    font-weight: lighter;
}
.upper-intro{
    max-width: 740px;
    margin: 10rem 0 0 5rem;
    padding-bottom: 10rem;
}
.upper-intro button{
    padding: 18px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.getstarted{
    background-color: #0C6CF2;
    margin-right: 10px;
    color: white;
    border-color: #0C6CF2;
}
/* currencies */
.curr{
    max-width: 210px;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: 100;
    border-radius: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.curr-up{
    display: flex;
    padding-bottom: 10px;
}
.curr-but{
    position: relative;
    left: 60px;
    padding: 5px;
}
.buy{
    background-color: #DED8FD;
    border: none;
    border-radius: 10%;
    padding: 7px;
}
.trade{
    background-color: #D1F0DB;
    border: none;
    border-radius: 10%;
    padding: 7px;
}
.percentage{
    line-height: 2;
    margin-left: 5px;
    color: red;
}
.currencies{
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5rem;
    position: relative;
    bottom:3rem;
}

/* utilities */
.container{
    margin: 20px 50px 50px 50px ;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.details{
    border:1px solid;
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
    margin-top: 15px;
}
.btn{
    padding: 22px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
   width: 100px;
}
/* box2 */
.container2{
    background-color: #F7F5FE;
    color: #7349F2;   
}
.symbol img{
   width: 25%;
   height: 25px;
   margin-right: 5px;
    background-color: #C1AFF6;
    position: relative;
   top: 15px;
}
.symbol{
    display: flex;
    padding: 5px 30px 5px 20px;
    background-color: #EFECFE;
    width: 70px;
    border-radius: 20%;
}
.box2-grid1{
    margin: 70px 0 70px 140px;
    position: relative;
    left: 30px;
}
.box2-grid2 img{
    width: 60%;
    margin: 120px 0 120px 150px;
}

.d2{
    border-color: #7349F2;
}
.bold{
    font-weight: 550;
}
.h1-heads{
    font-size: 40px;
}
.box2-grid2{
    background-image: url(https://www.blockchain.com/static/img/home/home-wallet-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 160px;
    background-size: 100% 75%;
}
.btn-w{
    background-color: #7349F2;
}
/* box3 */
.container3{
    background-color: #F5FAFE;
    color: #0C6CF2;
}
.box3-grid1 img{
    width: 65%;
  margin: 50px 0 0 120px;
}
.box3-grid1{
    background-image: url(https://www.blockchain.com/static/img/home/home-exchange-shapes-bg@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position-y: 100px;
    background-position-x: -10px;
}